<h1>Listing appointments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Reason</th>
    <th>First date</th>
    <th>Second date</th>
    <th>Comments</th>
    <th>Reordercontacts</th>
    <th>Shipping name</th>
    <th>Shipping address</th>
    <th>Shipping phone</th>
    <th>Shipping email</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.name %></td>
    <td><%= appointment.phone_number %></td>
    <td><%= appointment.email %></td>
    <td><%= appointment.reason %></td>
    <td><%= appointment.first_date %></td>
    <td><%= appointment.second_date %></td>
    <td><%= appointment.comments %></td>
    <td><%= appointment.reordercontacts %></td>
    <td><%= appointment.shipping_name %></td>
    <td><%= appointment.shipping_address %></td>
    <td><%= appointment.shipping_phone %></td>
    <td><%= appointment.shipping_email %></td>
    <td><%= appointment.quantity %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
